@import "./partials/reset";
@import "./partials/variables";
@import "./partials/mixins";
@import "components/components";
.container {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    // padding: 10px;
    box-sizing: border-box;
}
body {
    font-family: $title-font;
};

@import "section/style";
